<p id="notice"><%= notice %></p>

<p>
  <b>Fname:</b>
  <%= @contact.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @contact.lname %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @contact.phone %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
